<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= keys %></p>
<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i>Upload</h1>
      <form action="/file/upload" enctype="multipart/form-data" method="POST">
        <div class="form-group">
          File :
          <input
            type="file"
            name="image"
            class="form-control"
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block">Upload</button>
      </form>
      <p class="lead mt-4">
        <a href="/users/logout" class="btn btn-secondary">Logout</a>
      </p>
    </div>
  </div>
</div>

