<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.bucketname %></p>
<a href="/file/upload" class="btn btn-secondary">UPLOAD</a>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
<h1 class="mt-4">Upload</h1>
<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <form action="/file/upload" enctype="multipart/form-data" method="POST">
        <div class="form-group">
          File :
          <input
            type="file"
            name="image"
            class="form-control"
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block">Upload</button>
      </form>
      <p class="lead mt-4">
        Go back? <a href="/users/login">login</a>
      </p>
    </div>
  </div>
</div>